/*
@bgcolor:#fff;
@font-family:"Open sans";
@font-size:12px;
@color:#565b61;
@link:#6e7a86;
@link-hover:#565b61;
@link-focus:#565b61;
@link-active:#82898f;
@link-visited:#c3cad0;
@stroke:"1px solid #000";

@bgcolor-a:#e8e8e8;
@bgcolor-b:#c6cdd3;
@bgcolor-c:#717b85;
@storke-a:#000;
@stroke-b:#000;
*/
.util-border-radius-none {
  -webkit-border-radius: none;
  -moz-border-radius: none;
  border-radius: none;
}
.util-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.AXSearch {
  position: relative;
}
.AXSearch .expandHandle {
  display: block;
  border-bottom: 1px solid #ccc;
  background: #eee;
  text-align: center;
  color: #888;
  text-decoration: none;
  font-size: 11px;
  line-height: 20px;
  height: 20px;
}
.AXSearch .searchGroup {
  position: relative;
  background: #fff;
  min-height: 40px;
}
.AXSearch .searchGroup.gray {
  background: #f5f5f5;
  padding: 0px;
  min-height: 25px;
}
.AXSearch .searchGroup.gray .searchItem.searchLabel {
  background: #eee;
}
.AXSearch .searchGroup .searchItem {
  float: left;
  line-height: 25px;
  min-height: 25px;
  padding: 0px;
  text-align: center;
  position: relative;
}
.AXSearch .searchGroup .searchItem .itemTable tr th {
  color: #616161;
  border-right: 1px solid #d8d8d8;
  min-height: 40px;
}
.AXSearch .searchGroup .searchItem .itemTable tr td {
  padding: 7px 10px 7px 10px;
  text-align: left;
  position: relative;
}
.AXSearch .searchGroup .searchItem.secondItem .itemTable tr th {
  border-left: 1px solid #d8d8d8;
}
.AXSearch .searchGroup .searchItem.rightPadding0 .itemTable tr td {
  padding-right: 0px;
}
.AXSearch .searchGroup .searchItem.leftPadding0 .itemTable tr td {
  padding-left: 0px;
}
.AXSearch .searchGroup .searchItem.padding0 .itemTable tr td {
  padding: 10px 0px;
}
.AXSearch .searchGroup .searchItem.searchLabel {
  background: #f3f3f3;
  font-weight: bold;
  font-size: 11px;
  color: #444;
}
.AXSearch .searchGroup .searchItem.searchLink {
  color: #ccc;
}
.AXSearch .searchGroup .searchItem.searchLink .searchLinkItem {
  color: #616161;
  text-decoration: none;
  padding: 0px 3px;
}
.AXSearch .searchGroup .searchItem.searchLink .searchLinkItem.on {
  color: #616161;
  font-weight: bold;
  text-decoration: underline;
}
.AXSearch .searchGroup .groupClear {
  font-size: 1px;
  line-height: 1px;
  height: 1px;
  background: #ccc;
  clear: both;
}
.AXSearchTable {
  border-top: 1px solid #c1c1c1;
  border-bottom: 0px none;
  width: 100%;
  table-layout: fixed;
  font-size: 12px;
}
.AXSearchTable td .tdRel,
.AXSearchTable th .tdRel {
  padding: 0px 10px;
}
.AXSearchTable tbody td {
  min-height: 36px;
  height: 36px;
  overflow: visible;
  border-bottom: 1px solid #c1c1c1;
  color: #666;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px;
}
.AXSearchTable tbody th {
  min-height: 36px;
  height: 36px;
  overflow: visible;
  border-bottom: 1px solid #c1c1c1;
  color: #444;
  text-align: center;
  background: url('images/dx-grid-body-border.png') repeat-y 100% 0px #ffffff;
}
.AXSearchTable tbody tr .gray td,
.AXSearchTable tbody tr .gray th {
  background-color: #F5F5F5;
}
.AXSearchTable tbody tr .red td,
.AXSearchTable tbody tr .red th {
  background-color: #FFE8E8;
}
.AXSearchTable tbody tr .green td,
.AXSearchTable tbody tr .green th {
  background-color: #F7FDEA;
}
.AXSearchTable tbody tr .blue td,
.AXSearchTable tbody tr .blue th {
  background-color: #EAF5FD;
}
.AXSearchTable tbody tr .yellow td,
.AXSearchTable tbody tr .yellow th {
  background-color: #FEFEE9;
}
.AXSearchTable tbody td.last,
.AXSearchTable tbody th.last {
  background: url() repeat-y 100% 0px;
}
.AXMultiselectorHelper {
  position: absolute;
  border: 1px dotted #000;
}
.AXResizable {
  position: relative;
}
.AXResizable .AXResizableHandle {
  position: absolute;
  width: 18px;
  height: 18px;
  right: 1px;
  bottom: 1px;
  cursor: se-resize;
  background: url('images/dx-resizable-handle.png') no-repeat;
}
.AXResizableHelper {
  position: absolute;
  border: 1px dotted #000;
  cursor: se-resize;
  background: url('images/dx-resizable-handle.png') no-repeat 100% 100%;
}
