/*
@bgcolor:#fff;
@font-family:"Open sans";
@font-size:12px;
@color:#565b61;
@link:#6e7a86;
@link-hover:#565b61;
@link-focus:#565b61;
@link-active:#82898f;
@link-visited:#c3cad0;
@stroke:"1px solid #000";

@bgcolor-a:#e8e8e8;
@bgcolor-b:#c6cdd3;
@bgcolor-c:#717b85;
@storke-a:#000;
@stroke-b:#000;
*/
